<a href="https://colab.research.google.com/github/dempstermatthew/pbd/blob/master/Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark import SparkContext

spark = SparkSession.builder.master("local[*]").getOrCreate()

In [4]:
from google.colab import files
uploaded = files.upload()

Saving alcohol_list.csv to alcohol_list.csv

In [0]:
df = spark.read.csv("alcohol_list.csv", inferSchema=True, header=True)

In [6]:
type(df)

pyspark.sql.dataframe.DataFrame

In [7]:
df.describe()

DataFrame[summary: string, GHO (CODE): string, GHO (DISPLAY): string, GHO (URL): string, DATASOURCE (CODE): string, DATASOURCE (DISPLAY): string, DATASOURCE (URL): string, PUBLISHSTATE (CODE): string, PUBLISHSTATE (DISPLAY): string, PUBLISHSTATE (URL): string, YEAR (CODE): string, YEAR (DISPLAY): string, YEAR (URL): string, REGION (CODE): string, REGION (DISPLAY): string, REGION (URL): string, COUNTRY (CODE): string, COUNTRY (DISPLAY): string, COUNTRY (URL): string, ALCOHOLTYPE (CODE): string, ALCOHOLTYPE (DISPLAY): string, ALCOHOLTYPE (URL): string, Display Value: string, Numeric: string, Low: string, High: string, StdErr: string, StdDev: string, Comments: string]

In [8]:
df.show()

+-------------+--------------------+--------------------+-----------------+--------------------+----------------+-------------------+----------------------+------------------+-----------+--------------+----------+-------------+--------------------+------------+--------------+--------------------+-------------+------------------+---------------------+-----------------+-------------+-------+----+----+------+------+--------+
|   GHO (CODE)|       GHO (DISPLAY)|           GHO (URL)|DATASOURCE (CODE)|DATASOURCE (DISPLAY)|DATASOURCE (URL)|PUBLISHSTATE (CODE)|PUBLISHSTATE (DISPLAY)|PUBLISHSTATE (URL)|YEAR (CODE)|YEAR (DISPLAY)|YEAR (URL)|REGION (CODE)|    REGION (DISPLAY)|REGION (URL)|COUNTRY (CODE)|   COUNTRY (DISPLAY)|COUNTRY (URL)|ALCOHOLTYPE (CODE)|ALCOHOLTYPE (DISPLAY)|ALCOHOLTYPE (URL)|Display Value|Numeric| Low|High|StdErr|StdDev|Comments|
+-------------+--------------------+--------------------+-----------------+--------------------+----------------+-------------------+----------------------+------------------+-----------+--------------+----------+-------------+--------------------+------------+--------------+--------------------+-------------+------------------+---------------------+-----------------+-------------+-------+----+----+------+------+--------+
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHAUS|         Data source|            null|          PUBLISHED|             Published|              null|       2011|          2011|      null|          WPR|     Western Pacific|        null|           AUS|           Australia|         null|           SA_WINE|                 Wine|             null|         3.79|   3.79|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHKAZ|         Data source|            null|          PUBLISHED|             Published|              null|       2006|          2006|      null|          EUR|              Europe|        null|           KAZ|          Kazakhstan|         null|           SA_BEER|                 Beer|             null|         2.22|   2.22|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHTZA|         Data source|            null|          PUBLISHED|             Published|              null|       2010|          2010|      null|          AFR|              Africa|        null|           TZA|United Republic o...|         null|          SA_TOTAL|            All types|             null|         4.19|   4.19|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHNZL|         Data source|            null|          PUBLISHED|             Published|              null|       2012|          2012|      null|          WPR|     Western Pacific|        null|           NZL|         New Zealand|         null|          SA_TOTAL|            All types|             null|         9.20|    9.2|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHDZA|         Data source|            null|          PUBLISHED|             Published|              null|       2005|          2005|      null|          AFR|              Africa|        null|           DZA|             Algeria|         null|        SA_SPIRITS|              Spirits|             null|         0.02|   0.02|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHCHE|         Data source|            null|          PUBLISHED|             Published|              null|       2003|          2003|      null|          EUR|              Europe|        null|           CHE|         Switzerland|         null|           SA_BEER|                 Beer|             null|         3.37|   3.37|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHCAF|         Data source|            null|          PUBLISHED|             Published|              null|       2009|          2009|      null|          AFR|              Africa|        null|           CAF|Central African R...|         null|           SA_WINE|                 Wine|             null|         0.01|   0.01|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHUKR|         Data source|            null|          PUBLISHED|             Published|              null|       2004|          2004|      null|          EUR|              Europe|        null|           UKR|             Ukraine|         null|          SA_TOTAL|            All types|             null|         6.79|   6.79|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHECU|         Data source|            null|          PUBLISHED|             Published|              null|       2011|          2011|      null|          AMR|            Americas|        null|           ECU|             Ecuador|         null|        SA_SPIRITS|              Spirits|             null|         1.15|   1.15|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHGIN|         Data source|            null|          PUBLISHED|             Published|              null|       2003|          2003|      null|          AFR|              Africa|        null|           GIN|              Guinea|         null|        SA_SPIRITS|              Spirits|             null|         0.00|    0.0|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHKNA|         Data source|            null|          PUBLISHED|             Published|              null|       2013|          2013|      null|          AMR|            Americas|        null|           KNA|Saint Kitts and N...|         null|           SA_BEER|                 Beer|             null|         3.96|   3.96|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHSOM|         Data source|            null|          PUBLISHED|             Published|              null|       2000|          2000|      null|          EMR|Eastern Mediterra...|        null|           SOM|             Somalia|         null|           SA_BEER|                 Beer|             null|         0.00|    0.0|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHEST|         Data source|            null|          PUBLISHED|             Published|              null|       2004|          2004|      null|          EUR|              Europe|        null|           EST|             Estonia|         null|  SA_OTHER_ALCOHOL| Other alcoholic b...|             null|         2.39|   2.39|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHKWT|         Data source|            null|          PUBLISHED|             Published|              null|       2004|          2004|      null|          EMR|Eastern Mediterra...|        null|           KWT|              Kuwait|         null|           SA_BEER|                 Beer|             null|         0.00|    0.0|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHMDA|         Data source|            null|          PUBLISHED|             Published|              null|       2007|          2007|      null|          EUR|              Europe|        null|           MDA| Republic of Moldova|         null|  SA_OTHER_ALCOHOL| Other alcoholic b...|             null|         0.41|   0.41|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHMDG|         Data source|            null|          PUBLISHED|             Published|              null|       2012|          2012|      null|          AFR|              Africa|        null|           MDG|          Madagascar|         null|  SA_OTHER_ALCOHOL| Other alcoholic b...|             null|         0.00|    0.0|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHGEO|         Data source|            null|          PUBLISHED|             Published|              null|       2010|          2010|      null|          EUR|              Europe|        null|           GEO|             Georgia|         null|        SA_SPIRITS|              Spirits|             null|         2.11|   2.11|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHRUS|         Data source|            null|          PUBLISHED|             Published|              null|       2011|          2011|      null|          EUR|              Europe|        null|           RUS|  Russian Federation|         null|           SA_WINE|                 Wine|             null|         1.24|   1.24|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHBGD|         Data source|            null|          PUBLISHED|             Published|              null|       2007|          2007|      null|         SEAR|     South-East Asia|        null|           BGD|          Bangladesh|         null|          SA_TOTAL|            All types|             null|         0.00|    0.0|null|null|  null|  null|    null|
|SA_0000001400|Alcohol  recorded...|http://apps.who.i...|         GISAHCOK|         Data source|            null|          PUBLISHED|             Published|              null|       2000|          2000|      null|          WPR|     Western Pacific|        null|           COK|        Cook Islands|         null|  SA_OTHER_ALCOHOL| Other alcoholic b...|             null|         0.00|    0.0|null|null|  null|  null|    null|
+-------------+--------------------+--------------------+-----------------+--------------------+----------------+-------------------+----------------------+------------------+-----------+--------------+----------+-------------+--------------------+------------+--------------+--------------------+-------------+------------------+---------------------+-----------------+-------------+-------+----+----+------+------+--------+
only showing top 20 rows

In [9]:
df.printSchema()

root
 |-- GHO (CODE): string (nullable = true)
 |-- GHO (DISPLAY): string (nullable = true)
 |-- GHO (URL): string (nullable = true)
 |-- DATASOURCE (CODE): string (nullable = true)
 |-- DATASOURCE (DISPLAY): string (nullable = true)
 |-- DATASOURCE (URL): string (nullable = true)
 |-- PUBLISHSTATE (CODE): string (nullable = true)
 |-- PUBLISHSTATE (DISPLAY): string (nullable = true)
 |-- PUBLISHSTATE (URL): string (nullable = true)
 |-- YEAR (CODE): integer (nullable = true)
 |-- YEAR (DISPLAY): integer (nullable = true)
 |-- YEAR (URL): string (nullable = true)
 |-- REGION (CODE): string (nullable = true)
 |-- REGION (DISPLAY): string (nullable = true)
 |-- REGION (URL): string (nullable = true)
 |-- COUNTRY (CODE): string (nullable = true)
 |-- COUNTRY (DISPLAY): string (nullable = true)
 |-- COUNTRY (URL): string (nullable = true)
 |-- ALCOHOLTYPE (CODE): string (nullable = true)
 |-- ALCOHOLTYPE (DISPLAY): string (nullable = true)
 |-- ALCOHOLTYPE (URL): string (nullable = true)
 |-- Display Value: string (nullable = true)
 |-- Numeric: double (nullable = true)
 |-- Low: string (nullable = true)
 |-- High: string (nullable = true)
 |-- StdErr: string (nullable = true)
 |-- StdDev: string (nullable = true)
 |-- Comments: string (nullable = true)

In [10]:
df.count()

13235

In [0]:
df_whatever = df.select('YEAR (DISPLAY)', 'REGION (DISPLAY)', 'COUNTRY (DISPLAY)', 'ALCOHOLTYPE (DISPLAY)', 'Display Value')

In [12]:
df_whatever.first()

Row(YEAR (DISPLAY)=2011, REGION (DISPLAY)='Western Pacific', COUNTRY (DISPLAY)='Australia', ALCOHOLTYPE (DISPLAY)='Wine', Display Value='3.79')

In [13]:
df_whatever.describe('Display Value').show()

+-------+------------------+
|summary|     Display Value|
+-------+------------------+
|  count|             13235|
|   mean| 2.022251300887662|
| stddev|2.7920093615709276|
|    min|                 0|
|    max|           No data|
+-------+------------------+

In [14]:

df_whatever.filter((df['COUNTRY (DISPLAY)']=='Ireland') & (df['YEAR (DISPLAY)']==2014)).show()

+--------------+----------------+-----------------+---------------------+-------------+
|YEAR (DISPLAY)|REGION (DISPLAY)|COUNTRY (DISPLAY)|ALCOHOLTYPE (DISPLAY)|Display Value|
+--------------+----------------+-----------------+---------------------+-------------+
|          2014|          Europe|          Ireland|                 Beer|         5.13|
|          2014|          Europe|          Ireland|            All types|        10.75|
|          2014|          Europe|          Ireland|              Spirits|         1.97|
|          2014|          Europe|          Ireland| Other alcoholic b...|         0.85|
|          2014|          Europe|          Ireland|                 Wine|         2.80|
+--------------+----------------+-----------------+---------------------+-------------+

In [15]:
df_whatever.where((df['COUNTRY (DISPLAY)']=='Ireland') & (df['YEAR (DISPLAY)']==2014)).show()

+--------------+----------------+-----------------+---------------------+-------------+
|YEAR (DISPLAY)|REGION (DISPLAY)|COUNTRY (DISPLAY)|ALCOHOLTYPE (DISPLAY)|Display Value|
+--------------+----------------+-----------------+---------------------+-------------+
|          2014|          Europe|          Ireland|                 Beer|         5.13|
|          2014|          Europe|          Ireland|            All types|        10.75|
|          2014|          Europe|          Ireland|              Spirits|         1.97|
|          2014|          Europe|          Ireland| Other alcoholic b...|         0.85|
|          2014|          Europe|          Ireland|                 Wine|         2.80|
+--------------+----------------+-----------------+---------------------+-------------+

In [0]:
df_whatever = df_whatever.withColumnRenamed("YEAR (DISPLAY)", "year").withColumnRenamed("REGION (DISPLAY)", "region").withColumnRenamed("COUNTRY (DISPLAY)", "country").withColumnRenamed("ALCOHOLTYPE (DISPLAY)", "alc_type").withColumnRenamed("Display Value", "value")

In [0]:
df_whatever.registerTempTable('df_whatever')

In [18]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(spark)
sqlContext.sql('select * from df_whatever').show(50)

+----+--------------------+--------------------+--------------------+-----+
|year|              region|             country|            alc_type|value|
+----+--------------------+--------------------+--------------------+-----+
|2011|     Western Pacific|           Australia|                Wine| 3.79|
|2006|              Europe|          Kazakhstan|                Beer| 2.22|
|2010|              Africa|United Republic o...|           All types| 4.19|
|2012|     Western Pacific|         New Zealand|           All types| 9.20|
|2005|              Africa|             Algeria|             Spirits| 0.02|
|2003|              Europe|         Switzerland|                Beer| 3.37|
|2009|              Africa|Central African R...|                Wine| 0.01|
|2004|              Europe|             Ukraine|           All types| 6.79|
|2011|            Americas|             Ecuador|             Spirits| 1.15|
|2003|              Africa|              Guinea|             Spirits| 0.00|
|2013|            Americas|Saint Kitts and N...|                Beer| 3.96|
|2000|Eastern Mediterra...|             Somalia|                Beer| 0.00|
|2004|              Europe|             Estonia|Other alcoholic b...| 2.39|
|2004|Eastern Mediterra...|              Kuwait|                Beer| 0.00|
|2007|              Europe| Republic of Moldova|Other alcoholic b...| 0.41|
|2012|              Africa|          Madagascar|Other alcoholic b...| 0.00|
|2010|              Europe|             Georgia|             Spirits| 2.11|
|2011|              Europe|  Russian Federation|                Wine| 1.24|
|2007|     South-East Asia|          Bangladesh|           All types| 0.00|
|2000|     Western Pacific|        Cook Islands|Other alcoholic b...| 0.00|
|2010|              Africa|          Mozambique|             Spirits| 0.19|
|2009|            Americas|                Cuba|Other alcoholic b...| 0.02|
|2013|              Europe|            Bulgaria|           All types|12.06|
|2000|              Europe|             Czechia|Other alcoholic b...| 0.00|
|2002|              Africa|            Zimbabwe|                Wine| 0.28|
|2001|              Europe|          Azerbaijan|                Wine| 0.05|
|2000|     Western Pacific|               Japan|                Beer| 2.50|
|2005|              Europe|             Romania|                Wine| 2.33|
|2001|     Western Pacific|            Mongolia|             Spirits| 2.29|
|2009|     Western Pacific|Micronesia (Feder...|           All types| 2.06|
|2000|              Europe|             Iceland|                Beer| 3.03|
|2007|              Africa|Democratic Republ...|                Beer| 0.49|
|2011|              Europe|           Lithuania|Other alcoholic b...| 1.97|
|2002|     Western Pacific|               Samoa|                Wine| 0.05|
|2004|              Europe|             Finland|             Spirits| 2.79|
|2007|     South-East Asia|               India|           All types| 1.59|
|2004|Eastern Mediterra...|Syrian Arab Republic|             Spirits| 0.56|
|2004|     Western Pacific|                Niue|           All types| 8.71|
|2005|            Americas|            Barbados|                Wine| 0.75|
|2002|            Americas|Saint Vincent and...|           All types| 4.94|
|2008|Eastern Mediterra...|         Afghanistan|             Spirits| 0.02|
|2002|              Europe|             Belgium|Other alcoholic b...| 0.00|
|2013|     Western Pacific|         Philippines|           All types| 4.61|
|2000|              Africa|             Namibia|             Spirits| 0.80|
|2009|     Western Pacific|           Singapore|Other alcoholic b...| 0.03|
|2003|            Americas|  Dominican Republic|Other alcoholic b...| 0.00|
|2005|              Africa|Sao Tome and Prin...|             Spirits| 0.74|
|2010|              Europe|             Andorra|                Wine| 4.39|
|2003|            Americas|              Brazil|           All types| 6.95|
|2000|     South-East Asia|               Nepal|             Spirits| 0.01|
+----+--------------------+--------------------+--------------------+-----+
only showing top 50 rows

In [19]:
type(spark)

pyspark.sql.session.SparkSession

In [20]:
sqlContext.sql('select min(year), max(year) from df_whatever').show()

+---------+---------+
|min(year)|max(year)|
+---------+---------+
|     2000|     2015|
+---------+---------+

In [21]:
sqlContext.sql('select min(year), max(year) from df_whatever where country=\'Ireland\'').show()

+---------+---------+
|min(year)|max(year)|
+---------+---------+
|     2000|     2014|
+---------+---------+

In [22]:
sqlContext.sql('select * from df_whatever where region=\'Europe\' and alc_type=\'All types\' order by value desc').show()

+----+------+----------+---------+-------+
|year|region|   country| alc_type|  value|
+----+------+----------+---------+-------+
|2009|Europe|San Marino|All types|No data|
|2009|Europe|    Monaco|All types|No data|
|2010|Europe|    Monaco|All types|No data|
|2000|Europe|    Monaco|All types|No data|
|2006|Europe|San Marino|All types|No data|
|2002|Europe|San Marino|All types|No data|
|2003|Europe|San Marino|All types|No data|
|2003|Europe|    Monaco|All types|No data|
|2000|Europe|San Marino|All types|No data|
|2006|Europe|    Monaco|All types|No data|
|2008|Europe|    Monaco|All types|No data|
|2007|Europe|    Monaco|All types|No data|
|2007|Europe|San Marino|All types|No data|
|2005|Europe|San Marino|All types|No data|
|2004|Europe|    Monaco|All types|No data|
|2004|Europe|San Marino|All types|No data|
|2001|Europe|San Marino|All types|No data|
|2005|Europe|    Monaco|All types|No data|
|2010|Europe|San Marino|All types|No data|
|2001|Europe|    Monaco|All types|No data|
+----+------+----------+---------+-------+
only showing top 20 rows

In [0]:
df_whatever = sqlContext.sql("select * from df_whatever where value<>\'No data\' ")

In [24]:
sqlContext.sql('select * from df_whatever where region=\'Europe\' and year=2014 and alc_type=\'All types\' and value!=\'No data\' order by value desc').show()

+----+------+--------------------+---------+-----+
|year|region|             country| alc_type|value|
+----+------+--------------------+---------+-----+
|2014|Europe| Republic of Moldova|All types| 9.99|
|2014|Europe|            Portugal|All types| 9.88|
|2014|Europe|             Denmark|All types| 9.64|
|2014|Europe|         Switzerland|All types| 9.61|
|2014|Europe|              Serbia|All types| 9.09|
|2014|Europe|             Finland|All types| 8.80|
|2014|Europe|               Malta|All types| 8.49|
|2014|Europe|             Ukraine|All types| 8.06|
|2014|Europe|               Italy|All types| 7.56|
|2014|Europe|              Greece|All types| 7.53|
|2014|Europe|             Iceland|All types| 7.45|
|2014|Europe|              Sweden|All types| 7.30|
|2014|Europe|          Kazakhstan|All types| 6.29|
|2014|Europe|             Georgia|All types| 6.13|
|2014|Europe|              Norway|All types| 6.06|
|2014|Europe|             Albania|All types| 4.51|
|2014|Europe|Bosnia and Herzeg...|All types| 4.03|
|2014|Europe|             Armenia|All types| 3.91|
|2014|Europe|        Turkmenistan|All types| 2.90|
|2014|Europe|              Israel|All types| 2.62|
+----+------+--------------------+---------+-----+
only showing top 20 rows

# RDD

Parallelized Collections

Parallelized collections are created by calling SparkContextâ€™s parallelize method on an existing iterable or collection in your driver program. The elements of the collection are copied to form a distributed dataset that can be operated on in parallel. For example, here is how to create a parallelized collection holding the numbers 1 to 5:

In [0]:
data = [1, 2, 3, 4, 5]
distData = spark.parallelize(data)
distData.filter(lambda x: x % 2 == 0).collect()

In [0]:
textFile  = sc.textFile("file:///Users/Administrator/Downloads/war-and-peace.txt")

In [0]:
textFile.count()

In [0]:
import functools
lineLengths = textFile.map(lambda s: len(s))
totalLength = lineLengths.reduce(lambda a, b: a + b)

In [0]:
print(totalLength)